@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Subheader
{
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">@AdministrationDataBase.Resources.Resource.Start</h4>
        </div>
        <div class="col-md-7 align-self-center text-end">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb justify-content-end">
                    <li class="breadcrumb-item active">@AdministrationDataBase.Resources.Resource.Start</li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="card">
    <div class="card-header">
        <h2>@AdministrationDataBase.Resources.Resource.Start</h2>
    </div>
    <div class="card-body">
    </div>
</div>

